<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--Shows more technical parts in the console.  Any value larger than 1 is really only useful for bug searching-->
    <add key="debugLevel" value ="3"/>
    <!--The time in milliseconds to wait between each sync loop-->
    <add key="syncDelay" value ="2500"/>
    <!--Whether or not cheats should be allowed using the 'give' command-->
    <add key="enableCheats" value ="true"/>
    <!--Watcher Mode is for memory testing-->
    <add key="runInWatcherMode" value ="true"/>

  </appSettings>
</configuration>