<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windwaker.Multiplayer.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Windwaker.Multiplayer.Client.Properties.Settings>
            <setting name="ServerIpPort" serializeAs="String">
                <value>127.0.0.1:8989</value>
            </setting>
        </Windwaker.Multiplayer.Client.Properties.Settings>
    </userSettings>
</configuration>